@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        Pdf Metadata Editor
        <FluentSpacer />
        <a href="https://github.com/anezih/PdfMetadataEditor" style="text-decoration:none; color: var(--fill-color);" target="_blank">Source Code</a>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentMenuProvider />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                    <FluentToastProvider MaxToastCount="4" />
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>